@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareNeo';
    font-style: normal;
    font-weight: 300;
     src: url(../fonts/NanumSquareNeoOTF-Rg.woff2) format('woff2'),
        url(../fonts/NanumSquareNeoOTF-Rg.woff) format('woff'),
        url(../fonts/NanumSquareNeoOTF-Rg.otf) format('opentype');}

@font-face {
    font-family: 'NanumSquareNeo';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NanumSquareNeoOTF-Bd.woff2) format('woff2'),
        url(../fonts/NanumSquareNeoOTF-Bd.woff) format('woff'),
        url(../fonts/NanumSquareNeoOTF-Bd.otf) format('opentype');}

@font-face {
    font-family: 'NanumSquareNeo';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/NanumSquareNeoOTF-Eb.woff2) format('woff2'),
        url(../fonts/NanumSquareNeoOTF-Eb.woff) format('woff'),
        url(../fonts/NanumSquareNeoOTF-Eb.otf) format('opentype');}


/* CSS Document */
html, body	{ font-family: 'NanumSquareNeo'; font-weight: 300;}

*{margin: 0; padding: 0;}
div, p, ul, ol, li, dl, dt, dd, form, select, fieldset, legend, input, textarea, h1, h2, h3, h4, h5, h6, img, table, thead, tbody, tr, th, td, caption, img, section, article, header, a , button{ box-sizing: border-box; word-break: break-all;}

hr, caption, legend {width: 1px; height: 1px; font-size: 11px; position: absolute; left: -999999px; color: transparent;}
fieldset{border: none; outline: none;}

/* to enable resizing for IE */
input,textarea,select{ font-size:16px; color: #000; box-sizing: border-box; cursor: pointer;border: none;  border-bottom: 1px solid #a5a5a5; height: 45px; text-align: left; font-family: 'NanumSquareNeo';
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
	outline:none;
}

input[type=password]{font-family:'Malgun gothic', dotum, sans-serif;}

select option {
  font-size: 16px;
}

select{ background: url(../images/img_select.png)right 10px top 20px no-repeat;}

a{ color:#000; text-decoration:none; outline:none;}
button {cursor:pointer; border:0; font-family: 'NanumSquareNeo';}
a:hover,button:hover{text-decoration: underline}

*{scrollbar-track-color:rgba(255,255,255,0); scrollbar-face-color: #747474; scrollbar-shadow-color: #646464;}
/* Chrome, Safari용 스크롤 바 */
*::-webkit-scrollbar{width:5px; height: 5px;}
*::-webkit-scrollbar-button{display: none;}
*::-webkit-scrollbar-track{background: rgba(0,0,0,0);} /*배경*/
*::-webkit-scrollbar-thumb{border-radius: 20px; background: #747474;}
*::-webkit-scrollbar-thumb:hover{background:#414141}

li{list-style: none}
table{border-collapse: collapse; width: 100%;}

a:focus, 
button:focus, 
input:focus, 
textarea:focus, 
select:focus {
    outline: none;
    box-shadow:none;
}


input[type=checkbox]{background: url(../images/check.png)center no-repeat; border-bottom: none!important; width:19px!important; height: 19px!important; vertical-align: middle;}
input[type=checkbox]:checked{background: url(../images/check_click.png)center no-repeat;}
input:disabled,select:disabled{color: #000; background: transparent}